<header>
    <h2>Javne kolekcije</h2>
</header>

<div id="poruka" *ngIf="poruka != undefined">{{poruka}}</div>

<div>
    <label for="pretraga">Pretražite javne sadržaje </label>
    <input type="text" id="pretraga" [(ngModel)]="pretrazivanje" (keyup)="pretraziSadrzaj()">
</div>

<div id="kolekcija" *ngIf="kolekcije!=undefined && sadrzajiKolekcije==undefined">
   
        @for (k of kolekcije; track k.kolekcija_id) 
        {
            <figure (click)="prikaziSadrzaj(k.kolekcija_id)">
                <img [src]="k.naslovna_slika_putanja" alt="k.naziv" width="200">
                <figcaption>{{k.naziv}}</figcaption>
            </figure>
        }
   
</div>

<app-sadrzaji [sadrzaji]="sadrzajiKolekcije" (sadrzajiChange)="sadrzajiKolekcije=$event"></app-sadrzaji>
