<header>
  <h1>Upravitelj multimedijskih kolekcija</h1>
</header>

<nav>
  <a routerLink="/javneKolekcije">Javne kolekcije &nbsp;</a>
  <a routerLink="/privatneKolekcije">Vaše kolekcije &nbsp;</a>
  <a routerLink="/kolekcije">Kolekcije &nbsp;</a>
  <a routerLink="/korisnici">Popis korisnika &nbsp;</a>
  <a routerLink="/filmovi">Filmovi iz TMDB &nbsp;</a>
  <a routerLink="/dokumentacija">Dokumentacija</a>
  <a routerLink="/registracija">Registracija &nbsp;</a>
  <a routerLink="/prijava">Prijava &nbsp;</a>
  <a routerLink="/odjava">Odjava</a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>